<a href="https://colab.research.google.com/github/timmyishere/Test-Repo/blob/master/2020_05_21_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

## Raw Strings
* put r before the string to indicate that is a raw string.
* raw strings ignore escape characters. 
* The backslashes will be displayed

In [ ]:
rawstr=r'C:\new_folder\Folder1\Folder2\test_file1.html' 
print(rawstr)

C:\new_folder\Folder1\Folder2\test_file1.html


* Without the r (lines 1 & 2), the string will be treated like a standard string. 
* With the r (lines 3 & 4), the string will not require the extra backslashes and is printed correctly

In [ ]:
notrawstr='\nC:\new_folder\Folder1\Folder2\test_file1.html' 
print(notrawstr) 
test=r'C:\new_folder\test.html' 
print(test)

C:
ew_folder\Folder1\Folder2	est_file1.html
C:\new_folder\test.html

## Escape characters
* Escape characters are used to print special characters
* \\' or \\" for quotes.
* \\\ for forward slash.
* \\n for new line
* \\t for tab

In [ ]:
# putting a ' inside the quotes
s1='It\'s all mine' 
print(s1) 

# putting a " inside the quotes
s2='We are all really \"happy\"!!!!!!' 
print(s2) 

# note you can put " inside '  '
s3='I "have" done it now'
print(s3)

# use double quotes to put single quotes inside a string
s4="It's my cat" 
print(s4)

It's all mine
We are all really "happy"!!!!!!
I "have" done it now
It's my cat

In [ ]:
# \n is newline and #t is tab 
s5='First line\nSecond Line' 
print(s5) 
print('\n')

s6='The tab starts here\tand here\t!' 
print(s6)

First line
Second Line


The tab starts here	and here	!

### Multiline strings
* Use triple single quotes to get multi-line strings

In [ ]:
# use triple quotes to get multiline strings 
message='''The is a meandering string which shows 
many many and many things''' 
print(message)

The is a meandering string which shows
many many and many things

* Use triple double quotes to get multi-line comments

In [ ]:
""" Multiline comments 
can also be created using the triple quotes 
Like what I have done here....""" 
print('hi')

hi

## Indexing and slicing strings. 
### Indexing a string's elements.
* The first character in a string is at index=0.
* You can reference the rear of the string by using a negatively signed index.
* An index of -1 refers to the last character in a string.

In [ ]:
s='I am a tool' 
print(s[0]) #1st letter 
print(s[2]) #3rd letter 
print(s[-1]) #last letter 
print(s[-2]) #2nd to last letter

I
a
l
o

#### Using a loop to iterate through the elements of a string.

In [ ]:
s='I am no tool' 
print('The length of',s,'is:' )
print(len(s)) 
print('----------\n')

for n in range(len(s)): 
    print('s['+str(n)+']='+s[n])

The length of I am no tool is:
12
----------

s[0]=I
s[1]=
s[2]=a
s[3]=m
s[4]=
s[5]=n
s[6]=o
s[7]=
s[8]=t
s[9]=o
s[10]=o
s[11]=l

### Slicing a string
* Slicing is used to pick out a selection of characters in a string.
* The first character position is 0 not 1.
* Use the format aString[x:y] to start slicing at character position x, up to but NOT including the character at position y.
* For aString[x:] the slicing will be from character position 'x' to the end.
* For aString[:x] the slicing will be from character positon 0, up to but not including character position 'x'.

In [ ]:
s="I am no tool" 
print('s[2:4]='+s[2:4])     # s[2:4] will pick out characters at index=2, up to and including index=3
print('s[8:11]='+s[8:11])   # s[8:11] will pick out characters at 8,9 and 10 in aString
print('s[5:9]='+s[5:9])     # s[5:9] will pick out characters 5,6,7,8 and NOT 9.
print('s[5:]='+s[5:])       # s[5:11] will pick out characters 5,6,7,8,9,10,11 
print('s[:3]='+s[:3])       # s[:3] will pick out characters 0,1,2 
print('s[6:]='+s[6:])       # s[6:] will print from position 6 onwards.

s[2:4]=am
s[8:11]=too
s[5:9]=no t
s[5:]=no tool
s[:3]=I a
s[6:]=o tool

## Checking if one string is inside another string.

Use IN and NOT IN.

In [ ]:
# use the in and not in operators 
s1='boo' 
s2='The book was on the shelf' 
answer=s1 in s2 
print('\''+s1+'\' is in \''+s2+'\' = '+str(answer))

'boo' is in 'The book was on the shelf' = True

In [ ]:
# using NOT IN to check the string 'u' not in s2 
'u' not in s2

True

In [ ]:
# Other examples of IN and NOT IN 
a1='Help' in 'I need some Help' 
print(a1) 

a2='Help' in 'I need help' 
print(a2) 

a3='zoo' not in 'my big farm' 
print(a3)

True
False
True

## Finding a string and replacing a string 
### Searching through a string
* Use the Find function to search through a string.
* Returns the starting position of the search string in the target string.
* Returns -1 if it cannot find any instances of the substring in the target 
string.

In [ ]:
teststr='The quick brown fox jumped over the lazy dog' 
pos=teststr.find('quick') 
print(pos)

4

In [ ]:
print('abc'.find('z'))

-1

In [ ]:
# setting the starting point for checking a string 
mystr='abc def abc' 
pos=mystr.find('abc',3) #look at positions 3+ 
print(pos)

8

Use the startswith(aString) function to see if a string starts with aString.

In [ ]:
a1='The end'.startswith('End')
print(a1)

a2='The end'.startswith('The')
print(a2)

False
True

Use the endswith(aString) function to see if the target string ends with aString

In [ ]:
a1='The end'.endswith('The')
print(a1)

a1='The end'.endswith('end')
print(a1)

False
True

Search a string for the word 'very' and return all the indexes where it is found.

In [ ]:
teststr='the very, very quick brown fox jumped over very the lazy dog' 

i=0 # string position index

# check if 'very' is at the start of teststr.
if teststr.startswith('very'): 
    print('Found at the very start') 

# search through the rest of the string
while i!=-1: 
    # if you forget the +1 then you are stuck in an infinite loop! 
    i=teststr.lower().find('very',i+1) 
    if i==-1: 
        print('No more found') 
        break 
    else: 
        print(i) 
print('Finished')

4
10
43
No more found
Finished

### Replacing a string
* Use the replace function to replace one string with another
* Format is someString.replace(oldString, newString)
* All instances of oldString will be replaced by newString in someString.

In [ ]:
a1="Ha Ha Ha now you have done it".replace('Ha','Ho')
print(a1)

Ho Ho Ho now you have done it

## Changing the case of a string 
* Use upper() or lower() string methods. 
* They do not change the original target string but return a new string with upper or lower case.

In [ ]:
print('this was a lower case string'.upper()) 
print('From lower to UPPER'.lower())

THIS WAS A LOWER CASE STRING
from lower to upper

upper() or lower() are useful if you need to change the case to make a 
comparison since 'ABC' != 'abc'

In [ ]:
message='HELLO' 
answer='hello' in message 
print("'hello' in 'HELLO' = "+str(answer)) 

answer='hello' in message.lower() 
print("'hello' in 'HELLO'.lower() = "+str(answer))

'hello' in 'HELLO' = False
'hello' in 'HELLO'.lower() = True

## Checking strings using the IS... functions
* Check the case of the string using isupper() and islower()
* Check if the string contains only letters {a..z, A..Z} using isalpha()
* Check if the string holds only alphanumerics {0-9, a..z, A..Z} using isalnum()
* The isdecimal() method returns True if all the characters are decimals (0-9).
* The isspace() function returns “True” if all characters in the string are whitespace characters (e.g. ' ', '\n' or '\t').
* Use istitle() to check if the string is a title string, i.e. the first letter of each word is a capital letter, "This Is A Title String".

In [ ]:
# Check the case 
print('this is lower case'.islower()) 
print('This Is Lower Case'.islower()) 
print('THIS IS UPPER CASE'.isupper()) 
print('THIS IS upper CASE'.isupper())

True
False
True
False

In [ ]:
# check if a string holds only letters
print('AbCdEfG'.isalpha()) 
print('abc123'.isalpha()) 
print('abc def ghi'.isalpha())

True
False
False

In [ ]:
# check if holds only numbers or letters and not blank 
print('abc123DEF456'.isalnum()) 
print('abc\n123'.isalnum()) 
print('abc 123'.isalnum())

True
False
False

In [ ]:
# check if only numbers 0-9 
print('1234567890'.isdecimal()) 
print('123.456'.isdecimal())

True
False

In [ ]:
# check if spaces, tabs or newline and is not blank 
print(' '.isspace()) 
print('\t'.isspace()) 
print('\n'.isspace()) 
print('Line 1\nLine2'.isspace())

True
True
True
False

In [ ]:
# check if a title, e.g. 'This Is A Title' - capitals for the first letter of each word 
print('This Is A Title'.istitle()) 
print('This Is NOT A Title'.istitle()) 
print('This is not a Title'.istitle())

True
False
False

You can use the IS functions to validate user input.
In the first example, the isdecimal() function is used to test whether the user input is a number. The second example utilises isalnum() to check if the user input is an alphanumeric value.

In [ ]:
# e.g. use isdecimal method to force user input to be numeric 
while True: 
    print('Enter an integer number:') 
    ans=input() 
    if ans.isdecimal(): 
        break 
    print('Your input was not an integer number...') 
print('Thank you, your entry was '+str(ans))

Enter an integer number:

In [ ]:
# e.g. use isalnum() to force user to enter letters or numbers only 
while True: 
    ans=input('Enter numbers or letters only:') 
    if ans.isalnum(): 
        break 
    print('Invalid input') 
print('Thank you')

## Joining and splitting strings
* The join function will create a single string from a list of strings. 
* The split function does the opposite of the join string. It will split the string into a list

In [ ]:
pets=['cat','dog','pigeon','mouse'] 
print('pets =',str(pets))
myPets=' '.join(pets) # will put a space between items in the list. 
print('First use of join pets:', myPets)
myPets=', '.join(pets) # will put ', ' between the items in the list 
print('My pets now include a '+myPets)

In [ ]:
mystr='This is an example string' 
s=mystr.split() 
print(s)

In [ ]:
# You can set a delimiter, e.g. a new line. 
mystr='''This string will 
go over several different 
lines....''' 
j=mystr.split('\n') 
print(j)

## Justifying strings 
* You can use rjust(...), ljust(...), center(...) to justify a string.
* You can supply two arguments, the amount of space required and the fill character.

In [ ]:
# right justify 'Hello'. Add the necessary number of spaces to 'Hello' to 
# form a string of total length 20. 
rj='Hello'.rjust(20) 
print(rj) 

# using '*' as the fill character instead of space ' ' 
rj='Hello'.rjust(10,'*') 
print(rj) 

# left justify, using the '.' as the fill character 
lj='Hello'.ljust(10,'.')
print(lj) 

# centre 
c='Hi'.center(10,'*') 
print(c)

Example - using the justify functions to format a price menu.

In [ ]:
# create a function to format a menu price list 
def menuItem(item, price): 
    line=item.ljust(20,'.')+('£'+str(price)).rjust(7) 
    return line 

# Create a small menu list
print(menuItem('Peas',10)) 
print(menuItem('Beans',5)) 
print(menuItem('Rhubarb',14)) 
print(menuItem('Tea',12))

## Stripping a string
* The strip() method removes any leading and trailing characters.
* Space is the default leading character but you can specify others.
* There is also lstrip and rstrip functions to remove the left and right leading/trailing characters.

In [ ]:
text1='        Booo       ' 
t2=text1.strip() 
t3=text1.lstrip() 
t4=text1.rstrip() 
print('.'+text1+'.') 
print('.'+t2+'.') 
print('.'+t3+'.') 
print('.'+t4+'.')

In [ ]:
# The strip functions will accept string arguments and remove that argument from the end(s) 
text1="... Howdy ***" 
print(text1.lstrip('.')) 
print(text1.strip('*'))

putting a string, e.g. 'boo' will remove the letters 'b','o' from the left 
and right ends. The order of the letters is  not important. e.g. strip('boo') will remove 'boo', 'oob', 'boob', 'booboo', 'b', 'o' etc. from the left and right ends

In [ ]:
print('oob YOU boo'.strip('boo')) 
print('boob YES oooooooo'.strip('boo')) 
print('bbb BRRR booboob'.strip('bo'))